@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  background-color: #f9f9f2;
}

@media only screen and (max-width: 848px) {
  .header-image {
    width: 100%;
    height: auto;
    background-size: contain;
    max-height: 155px;
  }
  #homeStyle-container {
    background-color: white;
    height: 100%;
    min-width: 90%;
    margin: 0 auto;
  }
  #homeStyle-contentContainer {
    min-width: 95%;
    margin: 0 auto;
  }
  #result-name {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    color: '#5c5c5c';
  }
}

#homeStyle-container {
  background-color: white;
  height: 100%;
  max-width: 55%;
  margin: 0 auto;
}

#homeStyle-contentContainer {
  max-width: 60%;
  margin: 0 auto;
}

.header-image-hide {
  width: 0%;
  height: 0%;
}
.header-image {
  width: 100%;
  height: auto;
}
#result-name {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: '#5c5c5c';
}
